html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.email-tag {
  font-weight: 500;
  color:  #082e5e !important;
}

.text-success {
  color:  #3d9005 !important;
}

.text-primary {
  color:  #082e5e !important;
}

.container {
  max-width: 960px;
}

.welcome-header {
  max-width: 700px;
}

.brand {
  height: 68px;
    width: auto;
    margin: 1rem auto;
}

.brand img {
  width: auto;
  height: 100%;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
    border-top: 3px solid #3d9005 !important;
}
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }